<style>
    #RefreshForm{
   
       transition-duration: 0.4s;
       color: white;
       background-color:#8cbf26; 
       border-color:#8cbf26;
   
   }
    #RefreshForm:hover {
     background-color: white; /* Green */
     color: #8cbf26;
   }
   
   .NavFormInfo{
       padding: 10px;
       border-style: solid;
       color:white;
       border-width:1px;
       border-color:gray;
       border-radius:8px;
       background-color: #8cbf26;
   
   }
   
   .title-info{
       padding-bottom:0px; 
       margin-bottom:0px; 
       text-align:left;
   }
   .NavFormInfo div div p{
       margin-bottom:0px;
       font-size:13px;
      
   
   }
   
   @media only screen and (max-width: 575px){
       div > #TopNavMenu ,#titleAreaBox ,#s4-titlerow{
           
           /* margin-left:auto !important;
           margin-right:auto !important; */
           /* margin-bottom:20px !important; */
           display:none !important;
   
       }
       #Navbar{
           margin-bottom:20px !important;
       }
       
   }
   @media only screen and (max-width: 767px){
       div > #TopNavMenu , #titleAreaBox ,#s4-titlerow {
           
           display:none !important;
       }
       #Navbar{
           margin-bottom:20px !important;
       }
       
   }
   
   </style>
   <div>
       <div class="row">
           <div class="col-lg-7 col-md-5 col-sm-12 col-6 offset-col-3">
               <div id="TopNavMenu" class="form-inline"></div>
           </div>
   
               
           <div class="col-lg-4 offset-lg-1 col-md-7 col-sm-12">
               <div class="NavFormInfo shadow2">
                   <div class="row">
                       <div class="col-4">
                           <p style="text-align:left;">Running No</p>
                       </div>
                       <div class="col-8">
                           <p id="DocNO">Status</p>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-4">
                           <p style="text-align:left;">Create Date</p>
                       </div>
                       <div class="col-8">
                           <p id="CreateDate">07/26/2018</p>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-4">
                           <p style="text-align:left;">Create By</p>
                       </div>
                       <div class="col-8">
                           <p id="CreatedBy">User</p>
                       </div>
                   </div> 
                   <div class="row">
                       <div class="col-4">
                           <p style="text-align:left;">Role</p>
                       </div>
                       <div class="col-8">
                           <p id="Permission">Admin</p>
                       </div>
                   </div>  
                   <div class="row">
                       <div class="col-4">
                           <p style="text-align:left;">Form Status</p>
                       </div>
                       <div class="col-8">
                           <p id="FormStatus">Name User</p>
                       </div>
                   </div> 
               </div>          
           </div>
       </div>
   </div> <br><br>
   
   
   <script type="text/javascript">
   
       var TopMenuStr = '';
       var CloseFormBtn = '<button id="CloseFormStyle" onclick="CloseForm(\'0\');" type="button" class="btn btn btn-danger btn-md"><i class="fa fa-close"></i> Exit</button>';
       var RefreshBtn = '<button id="RefreshForm" onclick="RefreshPage();" type="button" class="btn btn btn-warnning btn-md" style="margin-left:15px;"><i class="fa fa-refresh"></i> Refresh</button>';
       var SaveDraftBtn = '<button onclick="SaveDraft();" type="button" class="btn btn btn-primary btn-md" style="margin-left:15px;"><i class="fa fa-floppy-o"></i> Save Draft</button>';
       var AttachfileBtn = '<button onclick="Attachfile();" type="button" class="btn btn btn-primary btn-md" style="background-color:#1BA1E2; border-color:#1BA1E2; margin-left:15px;"><i class="fa fa-paperclip" style="margin-right:5px;"></i>Attachfile</button>';
       
       var TempFormID = GetParameterByName('FormID');
       if(TempFormID){    
               var GetFormStatus = '?$select=FormStatus&$filter=FormID eq \''+FormID+'\'';
               var TrigForGetFormStatus = GetData(GetFormStatus);
               
       }else{
               Form.FormStatus = 'Create';
       }
       var TopMenu =  FormMaster[MasterFormID].FormStep[Form.FormStatus].Nav.TopNav;
       
       if(TopMenu.CloseForm){
           TopMenuStr += CloseFormBtn;
       }
       if(TopMenu.Refresh){
           TopMenuStr += RefreshBtn;
       }
       if(TopMenu.SaveDraft == true){
           
           TopMenuStr += SaveDraftBtn;
   
       }
       if(TopMenu.AttachFile){
           TopMenuStr += AttachfileBtn;
       }
   
       $('#TopNavMenu').empty();
       $('#TopNavMenu').append(TopMenuStr);
       // $('#TopNavMenu').append(TopMenuStr);
   
   </script>