<style>
        #Btn_GetDeptInfo{
            background-color:white; 
            border-color:gray; 
            color:gray;
        }
</style>
        
<script>
    
    // Set btn get department dept infomation
    //<button onclick="GetDepartment();" type="button" class="btn btn btn-primary btn-sm btn-sm " style="background-color:white; border-color:gray; color:gray;">เลือก</button>
    var Btn_ID = '#Btn_GetDeptInfo';
    var DomID = '';
    var Text_btn = 'เลือก';
    var fn = 'GetDepartment';
    var click = fn+'(\''+DomID+'\');';
    
    
    $(Btn_ID).attr('type','button');
    $(Btn_ID).attr('class','btn btn btn-primary btn-sm');
    $(Btn_ID).text(Text_btn);
    $(Btn_ID).attr('onclick',click);
    // End Propoties button /////////////////////////////////////////////////////////////////////

    function GetDepartment(){
            
        $('#MainModal').modal('show');
        $('#TitleModal').text('เลือกแผนก');
        $('#ModalBody').empty();
        var data = DataConnection(0);
        if(data){

            var str='';
            str+='';

            str+='<style="width:100%;">  ';   
            str+='<div class="table-responsive">  ';        
            str+='    <table class="table">';
            str+='        <thead>';
            str+='         <tr>';
            str+='            <th>หน่วยงาน</th>';
            str+='            <th>ผู้จัดการแผนก</th>';
            str+='            <th>ผู้จัดการส่วน</th>';
            str+='            <th>ผู้จัดการฝ่าย</th>';
            str+='            <th>กรรมการผู้จัดการ</th>';
            str+='            <th>รหัสหน่วยงาน</th>';
            str+='            <th>เลือก</th>';
            str+='       </tr>';
            str+='        </thead>';
            str+='        <tbody id="Content_Department">';

                for(i=0;i<data.length;i++){
                    var Dept_Name = '-';
                    var Dept_Mgr = '-';
                    var Section_Mgr = '-';
                    var Division_Mgr = '-';
                    var Committee_Mgr = '-';
                    var Dept_Code = '-';

                    if(data[i].Dept_Name){Dept_Name = data[i].Dept_Name}
                    if(data[i].Dept_Mgr.Title){Dept_Mgr = data[i].Dept_Mgr.Title}
                    if(data[i].Section_Mgr.Title){Section_Mgr = data[i].Section_Mgr.Title}
                    if(data[i].Division_Mgr.Title){Division_Mgr = data[i].Division_Mgr.Title}
                    if(data[i].Committee_Mgr.Title){Committee_Mgr = data[i].Committee_Mgr.Title}
                    if(data[i].Dept_Code){Dept_Code = data[i].Dept_Code}


                    str+='<tr>';
                    str+='   <td>'+Dept_Name+'</td>';
                    str+='   <td>'+Dept_Mgr+'</td>';
                    str+='   <td>'+Section_Mgr+'</td>';
                    str+='   <td>'+Division_Mgr+'</td>';
                    str+='   <td>'+Committee_Mgr+'</td>';
                    str+='   <td>'+Dept_Code+'</td>';
                    str+='   <td><button onclick="SetMaterialGroup('+i+',\'Dept_Name\');" type="button" class="btn btn btn-primary btn-sm" style="background-color:white; border-color:gray; color:gray;">เลือก</button></td>';
                    str+='</tr>';
                }
            str+='        </tbody>';
            str+='    </table>';
            str+='</div>';
            str+='</div>';
            $('#ModalBody').append(str);
            $('#ModalBody').css('overflow','auto');
            $('#ModalBody').css('max-height','400px');
        
            
            $('.modal-dialog ').css('max-width','1100px');
            $('.modal-dialog ').css('margin','1.75rem auto');
            



        } else{
            $('#ModalBody').append('No Data..');
        }
    }

    function SetMaterialGroup(index,ID){
      
      var data = DataConnection(0);
      var Dept = '';
      if(data[index].Dept_Name){
          Dept = data[index].Dept_Name;
          $('#'+ID).val(Dept);
          $('#MainModal').modal('hide');
           // Set Approver 
      
          var site = 'https://scgchemicals.scg.com/lotusnotes/TPE_StoreReservation';
          var list = 'Master_Department';
          var query = '?$select=*,Dept_Mgr/Title,Dept_Mgr/Id,Section_Mgr/Title,Section_Mgr/Id,Division_Mgr/Title,Division_Mgr/Id,Committee_Mgr/Title,Committee_Mgr/Id&$expand=Dept_Mgr,Section_Mgr,Division_Mgr,Committee_Mgr&$top=1&$filter=Dept_Name eq \''+Dept+'\'';
          var data = GetItemFromOtherSite(site,list,query);
 
          if(data){

              // Set Approver 1
              $('#Approver1').val(data[0].Dept_Mgr.Title);
              $('#Approver1').attr('title',data[0].Dept_Mgr.Id);

              // Set Approver 2
              $('#Approver2').val(data[0].Section_Mgr.Title);
              $('#Approver2').attr('title',data[0].Section_Mgr.Id);
          }
          
      }else{
          
          Dept = 'Not Found Department';
          alert(Dept);
          //RoutingPage('PageContainAnError.html');
      }
  }

</script>