
<style>
        #Btn_GetValuationClass{
            background-color:white; 
            border-color:gray; 
            color:gray;
        
        }
</style>
        
<script>
    
    // Set btn Get ValuationClass
    // <button onclick="GetValuationClass();" class="btn btn-outline-secondary btn-sm" type="button">Browse</button>

    var Btn_ID = '#Btn_GetValuationClass';
    var DomID = '';
    var Text_btn = 'Browse';
    var fn = 'GetValuationClass';
    var click = fn+'(\''+DomID+'\');';
    
    
    $(Btn_ID).attr('type','button');
    $(Btn_ID).attr('class','btn btn-outline-secondary btn-sm');
    $(Btn_ID).text(Text_btn);
    $(Btn_ID).attr('onclick',click);
    // End Propoties button /////////////////////////////////////////////////////////////////////

    function GetValuationClass(){
            
            $('#MainModal').modal('show');
            $('#TitleModal').text('Valuation Class');
            $('#ModalBody').empty();
            var data = DataConnection(3);
            if(data){

                var str='';
                str+='';

                str+='<style="width:100%;">  ';   
                str+='<div class="table-responsive">  ';        
                str+='    <table class="table">';
                str+='        <thead>';
                str+='         <tr>';
                str+='            <th>Valuation Class</th>';
                str+='            <th>Expense Account</th>';
                str+='            <th>เลือก</th>';
                str+='       </tr>';
                str+='        </thead>';
                str+='        <tbody id="Content_Valuation">';

                    for(i=0;i<data.length;i++){
                        var Valuation_Class = '-';
                        var Expense_Account = '-';


                        if(data[i].Expense_Account){Expense_Account = data[i].Expense_Account}
                        if(data[i].Valuation_Class){Valuation_Class = data[i].Valuation_Class}



                        str+='<tr>';
                        str+='   <td>'+Valuation_Class+'</td>';
                        str+='   <td>'+Expense_Account+'</td>';
                        str+='   <td><button onclick="SetFieldVal(\''+Valuation_Class+' - '+Expense_Account+'\',\'ValuationClass\');" type="button" class="btn btn btn-primary btn-sm" style="background-color:white; border-color:gray; color:gray;">เลือก</button></td>';
                        str+='</tr>';
                    }
                str+='        </tbody>';
                str+='    </table>';
                str+='</div>';
                str+='</div>';
                $('#ModalBody').append(str);

            } else{
                $('#ModalBody').appned('No Data..');
            }
        }
</script>