<style>
        #Btn_GetMaterialGroup{
            background-color:white; 
            border-color:gray; 
            color:gray;
        
        }
</style>
        
<script>
    
    // Set btn get Material Group
    // <button onclick="GetMaterialGroup();" class="btn btn-outline-secondary btn-sm" type="button">Choose</button>
    var Btn_ID = '#Btn_GetMaterialGroup';
    var DomID = '';
    var Text_btn = 'Choose';
    var fn = 'GetMaterialGroup';
    var click = fn+'(\''+DomID+'\');';
    
    
    $(Btn_ID).attr('type','button');
    $(Btn_ID).attr('class','btn btn-outline-secondary btn-sm');
    $(Btn_ID).text(Text_btn);
    $(Btn_ID).attr('onclick',click);
    // End Propoties button /////////////////////////////////////////////////////////////////////
    
    function GetMaterialGroup(){
            
            $('#MainModal').modal('show');
            $('#TitleModal').text('เลือก Material Group');
            $('#ModalBody').empty();
            var data = DataConnection(1);
            if(data){

                var str='';
                str+='';

                str+='<style="width:100%;">  ';   
                str+='<div class="table-responsive">  ';        
                str+='    <table class="table">';
                str+='        <thead>';
                str+='         <tr>';
                str+='            <th>Material Group</th>';
                str+='            <th>Code</th>';
                str+='            <th>เลขที่ใบเบิกพัสดุ</th>';
                str+='            <th>เลขที่ใบคืนพัสดุ</th>';
                str+='            <th>เลขที่ใบยืมพัสดุ</th>';
                str+='            <th>Year</th>';
                str+='            <th>Month</th>';
                str+='            <th>เลือก</th>';
                str+='       </tr>';
                str+='        </thead>';
                str+='        <tbody id="Content_MaterialGroup">';

                    for(i=0;i<data.length;i++){
                        var Material_Group = '-';
                        var Code = '-';
                        var No_Withdraw = '-';
                        var No_Return = '-';
                        var No_Lend = '-';
                        var Year = '-';
                        var Month = '-';

                        if(data[i].Material_Group){Material_Group = data[i].Material_Group}
                        if(data[i].Code){Code = data[i].Code}
                        if(data[i].No_Withdraw){No_Withdraw = data[i].No_Withdraw}
                        if(data[i].No_Return){No_Return = data[i].No_Return}
                        if(data[i].No_Lend){No_Lend = data[i].No_Lend}
                        if(data[i].Year){Year = data[i].Year}
                        if(data[i].Month){Month = data[i].Month}


                        str+='<tr>';
                        str+='   <td>'+Material_Group+'</td>';
                        str+='   <td>'+Code+'</td>';
                        str+='   <td>'+No_Withdraw+'</td>';
                        str+='   <td>'+No_Return+'</td>';
                        str+='   <td>'+No_Lend+'</td>';
                        str+='   <td>'+Year+'</td>';
                        str+='   <td>'+Month+'</td>';
                        str+='   <td><button onclick="SetFieldVal(\''+Material_Group+'\',\'Material_Group\');" type="button" class="btn btn btn-primary btn-sm" style="background-color:white; border-color:gray; color:gray;">เลือก</button></td>';
                        str+='</tr>';
                    }
                str+='        </tbody>';
                str+='    </table>';
                str+='</div>';
                str+='</div>';
                $('#ModalBody').append(str);
                $('#ModalBody').css('overflow','auto');
                $('#ModalBody').css('max-height','400px');
           
                
                $('.modal-dialog ').css('max-width','1000px');
                $('.modal-dialog ').css('margin','1.75rem auto');
                



            } else{
                $('#ModalBody').appned('No Data..');
            }
        }

   

</script>