<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <script src="https://scgchemicals.scg.com/lotusnotes/TPCQA/SitePages/web/js/jquery.min.js"></script> 
    <script type="text/javascript" src="/_layouts/15/sp.runtime.js"></script> 
    <script type="text/javascript" src="/_layouts/15/sp.js"></script> 
    <script type="text/javascript" src="https://scgchemicals.scg.com/lotusnotes/TPCQA/SitePages/web/js/config.js"></script>
    <script type="text/javascript" src="https://scgchemicals.scg.com/lotusnotes/TPCQA/SitePages/web/js/SPGuide.js"></script>
    <script type="text/javascript" src="https://scgchemicals.scg.com/lotusnotes/TPCQA/SitePages/web/js/Log.js"></script>

  </head>