<!-- Modal -->
<div class="modal fade" id="MainModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 style="margin-left:0px; margin-right:0px;" class="modal-title" id="TitleModal">Loading..</h5>
        <a id="CloseModal" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </a>
        </div>
        <div id="ModalBody" class="modal-body" style="min-height:150px;">
       
            <center>
                <div class="loader" style="margin-top:15%; margin-bottom:15%;"></div>
            </center>

        </div>
    </div>
    </div>
</div>